<VirtualHost *:{{ port }}>
        ServerName {{hostname}}
        DocumentRoot {{document_root}}/
<Directory {{document_root}}/>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
</Directory>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
